header {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background/bg-2.jpg);
    background-size: cover;
    background-position: center;
}
header h1 {
    color: white;
}

main {
    position: relative;
    width: 100%;
    margin-top: -90px;
    margin-bottom: 5rem;
    padding: 6rem 0rem;
    z-index: 10;
    border-radius: 100px 100px 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.219);
    background-color: white;
    -webkit-border-radius: 100px 100px 50px 50px;
    -moz-border-radius: 100px 100px 50px 50px;
    -ms-border-radius: 100px 100px 50px 50px;
    -o-border-radius: 100px 100px 50px 50px;
}


main .container {
    max-width: 1100px;
    margin: auto;
}

main .container>div {
    display: flex;
    position: relative;
    padding: 15px 30px;
    border-radius: 8px;
}

main .head {
    background-color: rgb(179, 210, 223);
    color: rgb(77, 101, 110);
    font-weight: bold;
    margin-bottom: 20px;
}

main .body {
    background-color: rgb(228, 231, 233);
    color: rgb(41, 53, 58);
    flex-direction: column;
    margin-bottom: 10px;
}
main .body .informasi {
    display: flex;
}
main .body .tombol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px dashed rgb(177, 198, 255);
}
main .body .tombol .grup {
    position: absolute;
    right: 30px;
}
.tombol button {
    cursor: pointer;
    font-weight: bold;
    color: white;
    letter-spacing: .8px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.tombol .bayar { background-color: rgb(0, 216, 18) }
.tombol .edit { background-color: rgb(224, 209, 0) }
.tombol .delete { background-color: rgb(209, 42, 23) }

.tombol .bayar.lunas {
    background-color: white;
    color: rgb(0, 216, 18);
    border: 2px solid rgb(0, 216, 18);
}

.no { width: 100px }
.nama { width: 200px }
.nomer { width: 180px }
.tanggal { width: 200px }

.harga {
    position: absolute;
    right: 30px;
    text-align: right;
}
.no, .harga {
    font-weight: bold;
}





.delete-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    z-index: 200;
    transition: 1s cubic-bezier(0,.84,.79,.94);
}
.delete-confirm.show { height: 100% }
.delete-confirm .box {
    position: absolute;
    top: 20px;
    width: 600px;
    padding: 40px 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.692);
    border-radius: 10px;
}
.delete-confirm .box .deskripsi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 8px rgba(255, 0, 0, 0.8);
    color: rgb(100, 0, 0);
    padding: 30px 70px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.delete-confirm .deskripsi p:nth-child(2) {
    margin: 10px 0 30px;
    font-weight: bold;
}
.delete-confirm .tombol-grup button {
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.tombol-grup #delete {
    background-color: red;
    outline: 2px solid red;
    color: white;
}
.tombol-grup .batal-delete {
    outline: 2px solid grey;
    color: gray;
    background-color: transparent;
}





#form-edit {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 300;
    display: flex;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
#form-edit.show {
    height: 100%;
}

.box-edit{
    width: 800px;
    margin: 80px 0;
    padding: 80px 100px;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    position: relative;
}
.box-edit .pemesanan >div {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box-edit .pemesanan >div >label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 80);
}
.box-edit .pemesanan >div >input {
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 20px;
    box-shadow: 0 0 5px var(--biru);
    border: none;
    border-radius: 7px;
}
box-edit .pemesanan >div >input::placeholder {
    font-style: italic;
    color: var(--biru);
    opacity: .5;
}

.box-edit .pemesanan .pelayanan >label:first-child { margin-bottom: 15px }
.box-edit .pemesanan .pelayanan >label[class] {
    position: relative;
    padding: 10px 20px;
    box-shadow: 0 0 5px var(--biru);
    border-radius: 7px;
    margin: 6px 0;
    font-size: 18px;
    cursor: pointer;
}
.box-edit .pemesanan .pelayanan >label >label {
    font-weight: bold;
    color: var(--biru);
    opacity: .5;
    letter-spacing: 1px;
    margin-left: 30px;
}
.box-edit .pemesanan .pelayanan >label >input {
    position: absolute;
    height: 0;
    width: 0;
}
.box-edit .pemesanan .pelayanan >label >.checkmark {
    position: absolute;
    left: 15px;
    top: 8px;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0.7);
    border-radius: 5px;
}
.box-edit .pemesanan .pelayanan >label >input:checked ~ .checkmark {
    background-color: rgba(0, 0, 255, 0.4);
}
.pelayanan >label >.checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.pelayanan >label >input:checked ~ .checkmark:after {
    display: block;
}

#tanggal {
    font-style: italic;
    font-family: 'Rubic',sans-serif;
    color: rgba(0, 0, 90, 0.5);
}

.box-edit .tombol {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    user-select: none;
}
.box-edit .tombol .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-edit .tombol .container button {
    margin: 0 8px;
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.box-edit .tombol .edit { background-color: goldenrod; outline: 2px solid goldenrod;}
.box-edit .tombol .container .batal-edit { color: rgb(97, 91, 91); outline: 2px solid rgb(97, 91, 91);}




/* RESPONSIF */
@media screen and (max-width: 1279px) {
    main .container {
        width: 90%;
    }
}
@media screen and (max-width: 1023px) {}

@media screen and (max-width: 959px) {
    main {
        padding: 4rem 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}

    .no { width: 50px }
    .nama { width: 100px }
    .nomer { width: 130px }
}

@media screen and (max-width: 639px) {
    .tanggal { display: none; }
    
    main .body .tombol .grup { position: static }
    main .body .tombol { 
        justify-content: space-between;
        flex-wrap: wrap;
    }
    main .body .tombol * { margin: 2px auto; }
}
@media screen and (max-width: 479px) {
    .nomer { display: none }
}
@media screen and (max-width: 350px) {}